---
import { Image } from "astro:assets";
import logo from "../../../src/assets/manaBrew.png";
---

<a href="https://manabrew.app/" class="site-title">
  <Image src={logo} alt="ManaBrew" width={64} height={64} />
</a>

<style>
  .site-title {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .site-title img {
    height: 2.75rem;
    width: auto;
  }
</style>
